.description {
        display: flex;
        justify-content: center;
        margin-top: 25px;
}
.body {
        position: relative;
        max-width: 1400px;
        p {
                margin: 0px;
                &:nth-of-type(1) {
                        font-size: 66px;
                        line-height: 1;
                        span {
                                margin-right: 7.5px;
                        }
                        .mask {
                                position: relative;
                                display: inline-flex;
                                overflow: hidden;
                        }
                }
        }
}
