@import "node_modules/locomotive-scroll/dist/locomotive-scroll";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    overflow-x: hidden;
    overflow: hidden;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //   scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    background-color: black;
}
a {
    color: inherit;
    text-decoration: none;
}
/// Import Atrament - dowloaded font
// @font-face {
//   font-family: "Atrament";
//   src: url("../pages/fonts/Atrament.ttf") format("truetype");
// }

/* CSS for Loader Spinner */
.spinner {
    animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash 1.4s ease-in-out infinite,
        colors 5.6s ease-in-out infinite;
}
@keyframes colors {
    0% {
        stroke: #4285f4;
    }
    25% {
        stroke: #de3e35;
    }
    50% {
        stroke: #f7c223;
    }
    75% {
        stroke: #1b9a59;
    }
    100% {
        stroke: #4285f4;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
/* END */

/* CSS Custom Cursor */
.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    filter: blur(11.5px);
    position: absolute;
    border-radius: 50%;
    background-color: pink;
    opacity: 0.75;
    top: 30px;
    left: -40px;
}
@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.expand {
    animation: cursorAnim 0.4s forwards;
}

/* CSS Form */
// .input-field {
//         background-color: black;
//         color: white;
//         border: 1px solid white;
//         padding: 10px;
//         transition: background-color 0.3s;
// }
// .input-field:-webkit-autofill,
// .input-field:-webkit-autofill:hover {
//         /* Set your desired background color and other styles */
//         background-color: black !important;
//         color: white !important;
// }
